*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: hsl(228,12%,44%);
  width: 100%;
  position: relative;
}
.header-background{
  background-color: hsl(225, 100%, 98%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 300px;
}
.card{
  background: hsl(227, 47%, 96%);
}
/* Overlay Container and Header styles */
.container{
  position: absolute;
  top: 0;
  right: 10px;
  left: 10px;
}
/* .header-section{
  position: relative;
} */
.header-section div{
padding-bottom: 30px;
}

h1{
  margin-bottom: -10px;
  padding-top: 30px;
}

/* Toggle switch styles */
#toggleContainer{
  display: flex;
}

#toggleContainer p{
  flex: 2;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-top: 12px;
}
.switch input{
  opacity: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: hsl(230, 22%, 74%);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: 2px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background: linear-gradient(hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Profile Info and Overview Info styles */

.profile-section{
  text-align: center;

}
.profile-section div{
  margin-bottom: 30px;
  padding: 10px 0;
  line-height: 0;
}
.profile-section span{
  margin-right: 7px;
}
/* Social media profiles info border styles */
.facebook-info{
  border-top: 5px solid hsl(207,91%,52%);
  border-radius: 5px;
}
.twitter-info{
  border-top: 5px solid hsl(203, 89%, 53%);
  border-radius: 5px;
}
.youtube-info{
  border-top: 5px solid hsl(348, 97%, 39%);
  border-radius: 5px;
}
/* Instagram profile info gradient border styles*/
.instagram-info{
  position: relative;
}
.instagram-info::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
  top:0px;
  left:0;
}
/* Overview Today Info section styles */
.inner-grid-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-left: 20px;
}
.overview-section div{
  
  margin: 20px 3px 20px 3px;
}
.inner-grid-container div{
  margin-top: 30px;
}

.stat-block-one > p{
 padding-bottom: 20px;
}

/* Text Styles */
.dark-blue-text{
  color: hsl(230, 17%, 14%);
  font-weight: 700;
}
.green-text{
  color: hsl(163, 72%, 41%);
}
.red-text{
  color: hsl(356, 69%, 56%);
}
.big-font{
  font-size: 4em;
}
.medium-font{
  font-size: 2em;
}
.spaced-text{
  letter-spacing: 5px;
  margin-top: -15px;
  padding-bottom: 30px;
  font-weight: lighter;
}

/* footer/link styles */
footer { 
  font-size: 11.2px; 
  text-align: center; 
}
footer a { color: hsl(163, 72%, 41%); }

/* Media Queries - desktop styles */
@media (min-width: 360px) and (max-width:675px){
h1{
  font-size: 28.5px;
}
.title-large p{
  font-size: 12px;
}
@media (min-width:675px) and (max-width:1440px){
  .container{
    left: 10%;
    right: 10%;
  }
  .header-section{
    display: flex;
  } 
  #toggleContainer{
    padding-top: 50px;
  }
  .switch{
    margin-left: 10px;
  }
  hr{ 
    visibility: hidden;
  }
  .profile-section,.overview-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

/* Dark Theme Styles */
.body-dark-bg{
  background: hsl(230, 17%, 14%);
  animation: ease-in;
  transition: .4s;
}
.header-dark-bg{
  background-color: hsl(232, 19%, 15%);
  animation: ease-in;
  transition: .4s;
}
.card-dark-bg{
  background: hsl(228, 28%, 20%);
  animation: ease-in;
  transition: .4s;
}
.theme-white-text{
  color: hsl(0, 0%, 100%);
}